/* this is different from all never background color*/
.navbar-container {
  background-color: #fff;
}

html,
body {
  overflow-x: hidden;
}

/* =================
    Header Style
================= */
.avoutHeader {
  width: 100%;
  height: 88vh;
  background: rgba(189, 193, 193, 0.09);
  margin-top: 5rem;
}

.avoutHeaderMainContant {
  display: flex;
  padding: 40px 0;
}

.avoutHeaderLeft {
  flex: 55%;
}

.avoutHeaderLeftTitle {
  font-size: var(--h2Fontsize);
  font-weight: var(--sevenFont);
  position: relative;
  color: var(--commonColor);
  margin-bottom: 40px;
}

.avoutHeaderLeftTitle::before {
  content: "";
  position: absolute;
  width: 10%;
  height: 5px;
  background: var(--underLineColor);
  bottom: -10px;
  border-radius: 30px;
  transition: all 0.3s;
}

.para {
  margin-bottom: 20px;
}

.para h3 {
  color: var(--textColor);
  font-size: var(--h3fontSize);
  font-weight: var(--sevenFont);
  margin-bottom: 6px;
}
.para p {
  color: var(--textColor);
  font-size: var(--paragraphfont);
}

.avoutHeaderRight {
  flex: 45%;
}

.avoutHeaderRight img {
  position: absolute;
  width: 600px;
  top: 50px;
  height: auto;
  object-fit: cover;
  transform: rotate(121deg);
  transition: all 0.4s;
  animation: aboutImage 3s linear 1s infinite alternate;
  opacity: 0.8;
}

@keyframes aboutImage {
  0% {
    transform: translateY(-20px) rotate(121deg);
  }
  100% {
    transform: translateY(0px) rotate(124deg);
  }
}

@media screen and (max-width: 792px) {
  .avoutHeaderMainContant {
    display: block;
  }
  .avoutHeader {
    padding: 0px 20px;
  }
  .avoutHeaderRight img {
    display: none;
  }
  .para p {
    overflow: hidden;
    line-height: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    line-clamp: 7;
    -webkit-box-orient: vertical;
  }
}

/* =================
    Our Story Style
================= */

.ourStory {
  margin-top: -4rem;
}

.ourStoryMainContant {
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    rgba(250, 250, 250, 0.41) 0%,
    rgba(250, 250, 250, 0.41) 100%
  );
  box-shadow: 0px 0px 4px 2px rgba(208, 207, 207, 0.25);
  backdrop-filter: blur(5.5px);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ourStoryMainContant h2 {
  color: var(--commonColor);
  font-size: var(--h2Fontsize);
  position: relative;
  margin-bottom: 30px;
}

.ourStoryMainContant h2::before {
  content: "";
  position: absolute;
  left: 35%;
  width: 30%;
  height: 4px;
  background: var(--underLineColor);
  bottom: -10px;
  border-radius: 30px;
  transition: all 0.3s;
}

.ourStoryMainContant p {
  text-align: center;
  color: var(--textColor);
  font-weight: var(--fiveFont);
  line-height: 27px;
  overflow: hidden;
  transition: height 0.3s;
}
#dot {
  cursor: pointer;
}

#hiddenText {
  display: none;
}

.storyReadMor {
  cursor: pointer;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  color: #198fb4;
  gap: 6px;
  font-size: var(--paragraphfont);
  padding: 10px;
  transition: all.3s;
}

.storyReadMor:hover {
  transform: scale(1.1);
  letter-spacing: 1px;
}

#storyReadMorImage {
  animation: storyReadMorImage 1s linear 1s infinite alternate;
}

@keyframes storyReadMorImage {
  0% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(2px);
  }
}

/* =================
    Connected Style
================= */

.owl-carousel .owl-item img {
  max-width: 148px;
}

/* =================
    Services Style
================= */

.servicesMainContant {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.servisCard {
  width: 242px;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.servisCardBgImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}
.servisCardContent {
  width: 100%;
  height: 100%;
  background: #0000004b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
  transition: all 0.3s;
}

.servisCardContentTop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 24px 0;
  position: relative;
  transform: translateY(30px);
  transition: all 0.3s;
}
.servisCardContentTop::after {
  content: "";
  position: absolute;
  top: 0;
  width: 30px;
  height: 4px;
  background: var(--underLineColor);
  border-radius: 30px;
  transition: all 0.3s;
}

.servisCardContentTop::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 30px;
  height: 4px;
  background: var(--underLineColor);
  border-radius: 30px;
  transition: all 0.3s;
}

.servisCardContent img {
  width: 40px;
  margin-bottom: 10px;
}

.servisCardContent h3 {
  text-align: center;
  color: #fff;
  font-size: var(--h3font);
  font-weight: var(--sevenFont);
  letter-spacing: 1px;
}

.servisCardContentDescr {
  color: #fff;
  font-size: var(--paragraphfont);
  line-height: 23px;
  padding: 10px;
  text-align: center;
  transform: translateY(200%);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  transition: all 0.3s;
  opacity: 0;
}

.servisCard:hover .servisCardBgImage {
  transform: scale(1.1);
}

.servisCard:hover .servisCardContent {
  background: #0000008a;
}

.servisCard:hover .servisCardContentDescr {
  display: block;
  opacity: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  line-clamp: 8;
  -webkit-box-orient: vertical;
  transform: translateY(0%);
}

.servisCard:hover .servisCardContentTop {
  transform: translateY(0%);
}

.serviscard:hover .servisCardContentTop::after {
  width: 0px !important;
}

/* =====================================
    Certifications And Memberships Style
===================================== */

.CertiAndMember {
  margin: 3rem 0;
}

.CertiAndMemberMainContant {
  display: flex;
}

.certifications {
  flex: 50%;
}

.CertiAndMemberTitle {
  color: var(--commonColor);
  padding: 10px 30px;
  border-left: 4px solid #d42b29;
  font-size: var(--h2Fontsize);
}

.certificationsImage {
  width: 120px;
  height: auto;
  display: inline-block;
  margin-right: 80px;
  transition: all 0.3s;
  border-radius: 50%;
}

.certificationsImage:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 20px #0f0f0f86;
}

.memberships {
  flex: 50%;
}

/* =================
    Our Cultur Style
================= */

.ourCulture {
  margin: 3rem 0;
}

.ourCultureMainContant {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ourCultureTitle {
  font-size: var(--h2Fontsize);
  color: var(--commonColor);
  font-weight: var(--sevenFont);
  position: relative;
  margin-bottom: 3rem;
}

.ourCultureTitle::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  background-color: var(--underLineColor);
  border-radius: 30px;
  left: 0;
  right: 0;
  bottom: -10px;
  margin: 0 auto;
}

/* =================
    Technologies Style
================= */

.technologiesIcon {
  width: 120px !important;
  height: auto;
}
