/* this is different from all never background color*/
.navbar-container {
  background-color: #fff;
}

html,
body {
  overflow-x: hidden;
}

/* =================
    Header Style
================= */
.avoutHeader {
  width: 100%;
  padding: 0 20px;
  overflow: hidden;
  background-color: rgba(250, 250, 250, 41%);
  margin-bottom: 60px;
  margin-top: 50px;
  position: relative;
}

.avoutHeaderMainContant {
  display: flex;
  padding: 0 0 40px;
}

.avoutHeaderLeft {
  width: 50%;
}
.avoutHeaderphoot {
  width: 48%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
}
.avoutHeaderphoot img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 20px 0 0 20px;
}
.avoutHeaderphoot .particles-nasa-box {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.avoutHeaderphoot #particles-nasa {
    width: 100%;
    height: 100%;
}

.avoutHeaderLeftTitle {
  font-size: var(--h2Fontsize);
  font-weight: var(--sevenFont);
  position: relative;
  color: var(--commonColor);
  margin-bottom: 40px;
}

.avoutHeaderLeftTitle::before {
  content: "";
  position: absolute;
  width: 10%;
  height: 5px;
  background: var(--underLineColor);
  bottom: -10px;
  border-radius: 30px;
  transition: all 0.3s;
}

.para {
  margin-bottom: 20px;
  padding-bottom: 3rem;
}

.para h3 {
  color: var(--textColor);
  font-size: var(--h3fontSize);
  font-weight: var(--sevenFont);
  margin-bottom: 6px;
}
.para p {
  color: #313131;
  font-size: 17px;
  line-height: 28px;
}

.avoutHeaderRight {
  position: absolute;
  width: 40%;
  top: 50px;
  right: 0;
  min-height: 43vw;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

.avoutHeaderRight img {
  height: auto;
  transform: rotate(121deg);
  transition: all 0.4s;
  animation: aboutImage 2s linear 1s infinite alternate;
  opacity: 0.8;
  max-height: 550px;
}

@keyframes aboutImage {
  0% {
    transform: translateY(-20px) rotate(121deg);
  }
  100% {
    transform: translateY(0px) rotate(124deg);
  }
}

@media screen and (max-width: 792px) {
  .avoutHeaderMainContant {
    display: block;
  }
  .avoutHeader {
    padding: 0px 20px;
  }
  .avoutHeaderRight {
      position: absolute;
      width: 28%;
      top: 96px;
      min-height: inherit;
      max-width: 150px;
  }
  .para p {
    overflow: hidden;
    line-height: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    line-clamp: 7;
    -webkit-box-orient: vertical;
  }
  .avoutHeaderLeft {
    width: 100%;
    padding-bottom: 0;
  }
  .avoutHeaderphoot {
    width: auto;
    margin: 0 -20px;
    position:  initial;
    position: relative;
  }
  .avoutHeaderphoot img {
    border-radius: 0;
  }
}

/* =================
    Our Story Style
================= */

.ourStory {
/*   margin-top: -4rem; */
}

.ourStoryMainContant {
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    rgba(250, 250, 250, 0.41) 0%,
    rgba(250, 250, 250, 0.41) 100%
  );
  box-shadow: 0px 0px 4px 2px rgba(208, 207, 207, 0.25);
  backdrop-filter: blur(5.5px);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ourStoryMainContant h2 {
  color: var(--commonColor);
  font-size: var(--h2Fontsize);
  position: relative;
  margin-bottom: 30px;
  text-align: center;
}

.ourStoryMainContant h2::before {
  content: "";
  position: absolute;
  left: 35%;
  width: 30%;
  height: 4px;
  background: var(--underLineColor);
  bottom: -10px;
  border-radius: 30px;
  transition: all 0.3s;
}

.ourStoryMainContant p {
  text-align: center;
  /* color: var(--textColor);
  font-weight: var(--fiveFont);
  line-height: 27px; */
  overflow: hidden;
  transition: height 0.3s;
  color: #313131;
  font-size: 17px;
  line-height: 28px;
}
#dot {
  cursor: pointer;
}

#hiddenText {
  display: none;
}

.storyReadMor {
  cursor: pointer;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  color: #198fb4;
  gap: 6px;
  font-size: var(--paragraphfont);
  padding: 10px;
  transition: all.3s;
}

.storyReadMor:hover {
  transform: scale(1.1);
  letter-spacing: 1px;
}

#storyReadMorImage {
  animation: storyReadMorImage 1s linear 1s infinite alternate;
}

@keyframes storyReadMorImage {
  0% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(2px);
  }
}

@media screen and (max-width: 1279px) {
  .ourStory {
    margin-top: -4rem;
    padding: 0 20px;
  }
  .CertiAndMember {
    padding: 0 20px;
  }
}

@media screen and (max-width: 612px) {
  .ourStoryMainContant h2 {
    font-size: var(--h2ResponsivTab);
  }
  .ourStoryMainContant { padding: 30px 20px; }
}

@media screen and (max-width: 450px) {
  .ourStoryMainContant h2 {
    font-size: var(--h2ResponsivMobile);
  }
}

/* =================
    Connected Style
================= */

.clients_slider.owl-carousel .owl-item img {
  max-width: 148px;
}

/* =================
    Services Style
================= */

.servicesMainContant {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.servisCard {
  position: relative;
  width: auto;
  height: 400px;
  overflow: hidden;
}

.servisCardBgImage {
  position: absolute;
  width: auto;
  height: 100%;
  object-fit: cover;
  background-position: center;
  z-index: -1;
  transition: all 0.3s;
}

.servisCardContent {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000081;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.servisCardContentTop {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  padding: 20px 0;
  transition: all 0.4s;
}

.servisCardContentTop img {
  width: 40px !important;
  margin-bottom: 10px;
}

.servisCardContentTop h3 {
  text-align: center;
  color: #fff;
  font-size: var(--h3font);
  font-weight: var(--sevenFont);
  letter-spacing: 1px;
}

.servisCardContentTop::after {
  content: "";
  position: absolute;
  top: 0;
  width: 30px;
  height: 4px;
  background: var(--underLineColor);
  border-radius: 30px;
  transition: all 0.5s;
}

.servisCardContentTop::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 30px;
  height: 4px;
  background: var(--underLineColor);
  border-radius: 30px;
  transition: all 0.5s;
}

.servisCardContentDescr {
  position: absolute;
  color: #fff;
  font-size: var(--paragraphfont);
  line-height: 23px;
  padding: 10px;
  text-align: center;
  transform: translateY(300%);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  transition: all 0.5s;
  opacity: 0;
}

.servisCard:hover .servisCardContentTop {
  transform: translateY(-100px);
}

.servisCard:hover .servisCardContentDescr {
  transform: translateY(5%);
  opacity: 1;
}

.servisCard:hover .servisCardBgImage {
  transform: scale(1.1);
}

/* =====================================
    Certifications And Memberships Style
===================================== */

.CertiAndMember {
  margin: 3rem 0;
}

.CertiAndMemberMainContant {
  display: flex;
}

.certifications {
  flex: 50%;
}

.CertiAndMemberTitle {
  color: var(--commonColor);
  padding: 10px 30px;
  border-left: 4px solid #d42b29;
  font-size: var(--h2Fontsize);
}

.certificationsImage {
  width: 120px;
  height: auto;
  display: inline-block;
  margin-right: 80px;
  transition: all 0.3s;
  border-radius: 50%;
}

.certificationsImage:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 20px #0f0f0f86;
}

.memberships {
  flex: 50%;
}

@media screen and (max-width: 1279px) {
  .CertiAndMember {
    padding: 0 20px;
  }
}

@media screen and (max-width: 849px) {
  .CertiAndMemberMainContant {
    display: block;
  }
}

@media screen and (max-width: 612px) {
  .certificationsImage {
    margin: 0px 50px 10px 0;
  }
}

@media screen and (max-width: 849px) {
.certificationsIcon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.certificationsImage {
    margin: 0px 15px 20px 15px !important;
}
.para {
    margin-bottom: 20px;
    padding-bottom: 18px;
}

}

/* =================
    Our Cultur Style
================= */

.ourCulture {
  padding: 5rem 20px;
  position: relative;
}
.particles-culture-box {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.ourCultureMainContant {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.ourCultureTitle {
  font-size: var(--h2Fontsize);
  color: var(--commonColor);
  font-weight: var(--sevenFont);
  position: relative;
  margin-bottom: 3rem;
}

.ourCultureTitle::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  background-color: var(--underLineColor);
  border-radius: 30px;
  left: 0;
  right: 0;
  bottom: -10px;
  margin: 0 auto;
}

/* =================
    Technologies Style
================= */

.technologiesIcon {
  width: 120px !important;
  height: auto;
}

.service_column.wow.fadeInDown.animated {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* =================
    Our Team  Style
================= */
.ourTeam {
  padding: 3rem 0;
}

.ourTeamTitle {
  font-size: var(--h2Fontsize);
  color: var(--commonColor);
  font-weight: var(--sevenFont);
  position: relative;
  margin-bottom: 3rem;
  text-align: center;
}

.ourTeamTitle::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  background-color: var(--underLineColor);
  border-radius: 30px;
  left: 0;
  right: 0;
  bottom: -10px;
  margin: 0 auto;
}

.swiper {
  width: 100%;
  padding: 8px 0;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  /* height: 439px; */
}

/* ============== */

.contantBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.15);
}

.profileCoverPick {
  width: 100%;
  height: 86px;
}
.profileCoverPick img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profilePick {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: -50px;
}

.profilePick img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid #fff;
  border-radius: 50%;
}

.maincontant {
  padding: 5px 30px 20px 30px;
  text-align: center;
}

.maincontant h3 {
  font-size: var(--h3font);
  color: #444;
}

.socilIcin {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 5px 0;
}

.maincontant p {
  font-size: 13px;
  color: var(--textColor);
  padding-bottom: 5px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

/* =================
    locations Style
================= */
.locations {
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.locations .iframeLication {
  border: 5px solid #e4e4e475 !important;
}

@media screen and (max-width:991px) {
.ourTeam {
  padding-bottom: 10px;
} 
.locations { padding-bottom: 0; }
}



.our_culture_box {
  width: 100%;
  max-width: 860px;
  margin: 0 auto;
  padding: 0 35px;
  justify-content: space-between;
  align-items: center;
}
.our_culture_col {
  width: 200px;
}
.our_culture_item {
  width: 100%;
  background-color: #00a0b0;
  padding: 10px 15px 10px 34px;
  border-radius: 45px 0 0 45px;
  min-height: 93px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 5px;
}
.our_culture_col2 .our_culture_item {
  border-radius: 0 45px 45px 0; 
  padding: 10px 34px 10px 15px;
}

.our_culture_item1 {background-color: #dc2422;}
.our_culture_item2 {background-color: #b91219;}
.our_culture_item3 {background-color: #d72120;}
.our_culture_item4 {background-color: #ba131a; margin-bottom:0}

.our_culture_item5 {background-color: #ba131a;}
.our_culture_item6 {background-color: #d72120;}
.our_culture_item7 {background-color: #b91219;}
.our_culture_item8 {background-color: #dc2422;margin-bottom:0}


.culture_item_number {
  width: 50px;
  height: 50px;
  border-radius:50%;
  background-color:#b62225;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -25px;
  top: 50%;
  margin-top: -25px;
  z-index: 2;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
}
.our_culture_col2 .culture_item_number {
  left: inherit;
  right: -25px;
}
.our_culture_item span {
  display: block;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
}

.culture_title_anumation {
  width: 225px;
  position: relative;
}
.culture_title_box {
  width: 100%;
  height: 225px;
  border-radius: 50%;
  background-color: #ec1d23;
  padding: 15px;
  position: relative;
  z-index: 4;
}
.culture_line_box {
  position: absolute;
  left: -37px;
  top: 50%;
  transform: translateY(-50%);
  width: 85px;
  padding: 5px 0 5px;
/*   background-color: #fff; */
  z-index: 2;
}
.culture_line_box2 {
  left: inherit;
  right: -37px;
}
.culture_line {
  width: 100%;
  height: 25px;
/*   background-color: #8bd4db; */

background-color: #e66564;
  margin-bottom: 5px;
}
/* .culture_line:nth-child(2) {background-color: #b0e6fe;}
.culture_line:nth-child(3) {background-color: #bebdff;}
.culture_line:nth-child(4) {background-color: #7ac1f7; margin-bottom: 0;} */

.our_culture_item .culture_line {
  width: 80px;
  position: absolute;
  right: -126px;
  top: 136px;
  z-index: 2;
}
.our_culture_item2 .culture_line {
  top: 68px;
/*   background-color: #b0e6fe; */
background-color: #e36362;
}
.our_culture_item3 .culture_line {
  top: 0;
/*   background-color: #bebdff; */
background-color: #e36362;
}
.our_culture_item4 .culture_line {
  top: -68px;
/*   background-color: #7ac1f7; */
background-color: #ce595e;
}

.our_culture_col2 .our_culture_item .culture_line {
  left: -126px;
  right: inherit;
  top: 136px;
  background-color: #ce595e;
}
.our_culture_col2 .our_culture_item6 .culture_line {
  top: 68px;
/*   background-color: #b0e6fe; */
background-color: #e36362;
}
.our_culture_col2 .our_culture_item7 .culture_line {
  top: 0;
/*   background-color: #bebdff; */
background-color: #e36362;
}
.our_culture_col2 .our_culture_item8 .culture_line {
  top: -68px;
/*   background-color: #7ac1f7; */
background-color: #e66564;
}



.culture_title_bg {
  border-radius: 50%;
  border: 2px solid #fff;
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative;
  z-index: 3;
}
.culture_title_inner {
  border-radius: 50%;
  border: 2px solid #b62225;
  width: 100%;
  height: 100%;
  background-color: #fff;
/*   background-color: #e2e3e5; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.culture_title_inner span {
  font-size: 23px;
  color: #ec1d23;
  display: block;
  text-align: center;
  line-height: 1.1;
  font-weight: 600;
}
.culture_title_inner span strong {
  display: block;
  text-emphasis: revert-layer;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #b62225;
  margin-top: 3px; 
  position: relative;
}
.culture_title_inner span strong::after {
  /* content: '';
  width: 92%;
  height: 2px;
  background-color: #625cfe;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 2;
  margin: 0 auto;
  margin-top: 2px; */
}
.our_culture_item::before {
  content: '';
  width: 47px;
  height: 100%;
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 1;
}
.our_culture_col2 .our_culture_item::before {
  left: inherit;
  right: 100%;
}
.our_culture_item1::before {
  background: #e66564;
  height: 162px;
  clip-path: polygon(0 0, 100% 86%, 100% 100%, 0 56%);
}
.our_culture_item2::before {
  clip-path: polygon(0 0, 100% 77%, 100% 100%, 0 100%);
  background-color: #e36362;
}
.our_culture_item3::before {
  clip-path: polygon(0 0, 100% 0, 100% 25%, 0 100%);
  background-color: #e36362;
}
.our_culture_item4::before {
  clip-path: polygon(0 43%, 100% 0, 100% 14%, 0 100%);
  background-color: #ce595e;
  height: 162px;
  top: inherit;
  bottom: 0;
}
.our_culture_item5::before {
  background-color: #ce595e;
  height: 162px;
  clip-path: polygon(0 86%, 100% 0%, 100% 56%, 0 100%);
}
.our_culture_item6::before {
  background-color: #e36362;
  clip-path: polygon(0 77%, 100% 0%, 100% 100%, 0 100%);
}
.our_culture_item7::before {
  clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 25%);
  background-color: #e36362;
}
.our_culture_item8::before {
  clip-path: polygon(0 0%, 100% 43%, 100% 100%, 0 14%);
  background-color: #e66564;
  height: 162px;
  top: inherit;
  bottom: 0;
}

.culture_item_number  {
  -webkit-animation: flo-x 3s linear infinite;
  animation: flo-x 3s linear infinite;
}

@-webkit-keyframes flo-x {
  50% {
    transform: translateX(-7px);
  }
}

@keyframes flo-x {
  50% {
    transform: translateX(-7px);
  }
}
@media screen and (max-width: 768px) {
.our_culture_box {
  flex-wrap: wrap;
  padding: 0 20px;
  gap: 20px;
}
.culture_title_anumation {
  width: 100%;
  order: 1;
  padding-bottom: 20px;
}
.our_culture_col {
  order: 2;
  width: calc(calc(100% - 20px ) / 2);
}
.our_culture_col2 {
  order: 3;
}
.culture_title_box {
  width: 225px;
  margin: 0 auto;
}
.our_culture_item::before {
    display: none;
}
.culture_line { display: none; }

.our_culture_col2 .our_culture_item,
.our_culture_item {
  border-radius: 45px;
}

}

@media screen and (max-width: 480px) {
.ourCulture {
    padding: 0 20px 50px 20px;
}
.our_culture_box {
  gap: 0;
}
.our_culture_col {
  width: 100%;
  padding-bottom: 5px;
}
.our_culture_col2 .culture_item_number {
    left: -25px;
    right:  inherit;
}
.our_culture_col2 .our_culture_item {
    padding: 10px 15px 10px 34px;
}
}

.aboutSolutions {
  width: 100%;
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.15);
  background: #ffffff;
  padding: 0;
  border-radius: 20px;
}

.aboutSolutions .solution_photo > a > img {
  height: 36vh;
}

.aboutSolutions h3 {
  padding-bottom: 10px !important;
}

.aboutSolutions p {
  padding-bottom: 0 !important;
  font-size: 14px;
  line-height: 22px;
  color: var(--textColor);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  margin-bottom: 20px;
}

.aboutSolutions .solution_photo {
  margin: -22px -22px 30px -22px;
}

.aboutSolutions .learn_more_btn {
  font-size: 14px;
  border: 1px solid #d32a2f !important;
}
