.blog_content_area { padding: 0 20px }
.blog_content {
  padding: 80px 0 60px 0;
}
.blog_content_left {
  width: 63.77%;
}
.blog_post_feature {
  width: 100%;
  padding-bottom: 50px;
}
.work_on_feature .blog_post_feature {
  padding: 30px 15px;
}
.blog_post_bg {
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}
.blog_photo,
.blog_photo img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  transition: 0.5s all ease-in-out;
  overflow: hidden;
}
.blog_photo a:hover > img {
  transform: scale(1.2);
}
.blog_post_info {
  padding: 50px 35px 40px 35px;
  position: relative;
}
.blog_post_info h4 {
  color: #4B4B4B;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 20px;
}
.blog_post_info h4 a { color: #4B4B4B;}
.blog_post_info p {
  color: #4B4B4B;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; 
  padding-bottom: 40px;
}
.blog_post_info .learn_more_btn {
  width: 230px;
  border-radius: 8px;
  height: 48px;
}
.author_info {
  border-radius: 10px;
  background: #B50107;
  padding: 5px 0 5px 20px;
  min-height: 46px;
  position: absolute;
  left: 35px;
  top: -23px;
  z-index: 2;
  display: flex;
  align-items: center;
}
.author_info span {
  display: block;
  font-size: 14px;
  line-height: 1;
  font-weight: 600;
  color: #fff;
  padding-right: 20px;
}
.author_info .fa {
  font-size: 18px;
  padding-right: 7px;
  line-height: 1;
  display: inline-block;
}
.author_info .fa-tag {
  transform: rotate(90deg);
  position: relative;
  top: 5px;
}
.blog_content_left .breadcrumbs_area ul {
  padding-top: 0;
}

.work_on_feature .author_info span {
    padding-right: 10px;
}
.work_on_feature .blog_post_info {
    padding: 46px 25px 25px 25px;
}
.work_on_feature .author_info { left: 25px; }
.work_on_feature .blog_post_info .learn_more_btn { width: 100%; }
.work_on_feature .blog_post_info h4 a {
    color: #B50107;
}
.blog_right {
  width: 36.23%;
  padding-left: 35px;
}
.blog_search {
  width: 100%;
  padding: 36px 20px 35px 20px;
  border-radius: 10px;
  background: #F6F9FE;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.14);
  margin-bottom: 35px;
}
.blog_search form { position: relative; }
.blog_search .form-control {
  width: 100%;
  height: 48px;
  padding: 12px 40px 12px 15px;
  border-radius: 6px;
  background: #FFF;
  color: #828282;
  font-size: 15px;
  font-weight: 400;
  border: none;
  outline: none;
}
.blog_search .submit{
  width: 20px;
  height: 20px;
  background:url('../img/search-line.png') no-repeat;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -10px;
  z-index: 2;
  text-indent: -9999px;
}
.sidebar_widget {
  width: 100%;
  padding: 28px 20px 10px 20px;
  border-radius: 10px;
  background: #F6F9FE;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.14);
  margin-bottom: 35px;
}
.sidebar_widget h4 {
  color: #B50107;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 18px;
  position: relative;
}
.sidebar_widget h4::after {
  content: '';
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: rgba(155, 37, 35, 0.34);
  position: absolute;
  left: -7px;
  top: 0;
  z-index: 1;
}
.blog_widget_post { padding-bottom: 25px; }
.blog_widget_photo {
  width: 80px; 
  min-width: 80px;
}
.blog_widget_photo img {
  width: 100%;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}
.blog_widget_info {
  width: 100%;
  padding: 0 0 0 15px;
}
.blog_widget_info h5 {
  color: #B50107;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding-bottom: 13px;
}
.blog_widget_info h5 a { color: #B50107;}
.blog_widget_info .post_blog_date {
  color: #424242;
  font-size: 14px;
  font-weight: 600;
  display: block;
}
.blog_widget_info .post_blog_date .fa {
  padding-right: 5px;
}
.sidebar_widget .categories_items {
  padding: 5px 0 0 0;
}
.sidebar_widget .categories_items li {
  padding: 0 0 11px 0;
}
.sidebar_widget .categories_items li a {
  border-radius: 5px;
  background: #FFF;
  padding: 11px 20px;
  color: #4B4B4B;
  font-size: 16px;
  background: #fff url('../img/arrow-right-line.svg') no-repeat right 20px center;
  display: block;
  transition: background-color 0.8s ease;
}
.sidebar_widget .categories_items li a:hover {
  color: #fff;
  background: #B50107 url('../img/arrow-right-line-hover.svg') no-repeat right 20px center;
}
.sidebar_widget .tags_items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 20px;
  padding-top: 2px
}
.sidebar_widget .tags_items a {
  display: flex;
  align-items: center;
  padding: 8px 22px;
  border-radius: 5px;
  background: #B50107;
  border: 1px solid #B50107;
  font-size: 15px;
  color: #fff;
  transition: background-color 0.8s ease;
}
.sidebar_widget .tags_items a:hover {
  color: #B50107;
  background: transparent;
}
.lats_talk_area {
  width: 100%;
  height: 376px;
  position: relative;
  background: url('../img/talk.jpeg') no-repeat;
  background-size: cover;
  border-radius: 8px;
  padding: 36px 20px 25px 30px;
}
.lats_talk_area h4 {
  color: #FFF;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2;
  padding-bottom: 16px;
}
.lats_talk_area p {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 23px;
}
.lats_talk_area .red-button {
  background-color: #fff;
  border-color: #fff;
  color: #B50107;
  margin: 0;
  font-weight: 600;
}
.lats_talk_area .red-button span {
  padding-right: 25px;
  display: inline-block;
  background: url('../img/arrow-right-up-line.svg') no-repeat right center;
}
.arrow_up {
  padding: 32px 0 0 15px;
}
.man_photo {
  width: 70%;
  max-width: 300px;
  position: absolute;
  right: 5px;
  bottom: 0;
  z-index: 1;
}
.man_photo img { max-height: 365px; }
.talk_info {
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 991px) {
.blog_content {
  padding-top: 50px;
}
.blog_content_left {
  width: 100%;
}
.blog_right{
  width: 100%;
  padding: 50px 0 0 0;
}
}
.blog-single-info h2 {
  color: #4B4B4B;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  padding-bottom: 25px;
}
.blog-single-info p {
  color: #4B4B4B;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  padding-bottom: 35px;
}
.blog_single_photo {
  padding-bottom: 30px;
  padding-top: 10px;
}
.blog_single_photo img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 5px;
}
.blog_single_photo small {
  display: block;
  color: #4B4B4B;
  font-size: 14px;
  font-style: italic;
  text-align: center;
}
.share_post h3 {
  color: #4B4B4B;
  font-size: 23px;
  font-weight: 500;
  line-height: 28px;
  padding-bottom: 20px;
}