/* ==================
   Career HGeader Style
 ===================== */

#navbarContainer {
  background: #fff;
}
.career {
  margin-top: 5rem;
  height: 100%;
  min-height: 400px;
  height: 70vh;
  display: flex;
  background-color: #d9d9d9;
}
.careerLeft {
  width: 70%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 88% 100%, 0% 100%);
  background-color: rgb(0, 0, 0);
  position: relative;
}

.careerLeft img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.careerRigit {
  width: 30%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-right: 30px;
}

.careerRigit h1 {
  font-size: 35px;
  /* font-weight: var(--sixFont); */
  position: relative;
  margin-bottom: 20px;
  color: #262525;
}

.careerRigit h1::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  left: 0;
  bottom: -10px;
  border-radius: 30px;
  /* margin: 0 auto; */
  background-color: var(--underLineColor);
}

.playAndLearn {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.play {
  width: 60px;
  height: 60px;
  background: var(--commonColor);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}

.playIcon {
  width: 25px;
  height: auto;
  margin-left: 8px;
  z-index: 2;
  transition: all 0.3s;
}

.play:before,
.play:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: var(--commonColor);
  /* border: 1px solid #b50107; */
  border-radius: 50%;
  opacity: 0.7;
  z-index: 1;
}

.play:before {
  animation: plushe 2s ease-out infinite;
}

.play:after {
  animation: plushe 2s 1s ease-out infinite;
}

@keyframes plushe {
  100% {
    transform: scale(1.7);
    opacity: 0;
  }
}

.hadLarenMorBtn {
  border: none;
  background: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  font-size: 16px;
  color: var(--textColor);
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}

.hadLarenMorBtn:hover {
  background: #b50107;
  color: #fff;
  transform: translateX(10px);
}

@media screen and (max-width: 935px) {
  .careerLeft {
    width: 50%;
  }
  .careerRigit {
    width: 50%;
  }
}

@media screen and (max-width: 563px) {
  .career {
    flex-direction: column;
    height: auto;
  }
  .careerLeft {
    clip-path: inherit;
    width: 100%;
  }

  .careerRigit {
    width: 100%;
    padding: 20px 20px 40px 20px;
  }
  .playAndLearn {
    align-items: center;
    padding-left: 15px;
    margin-top: 40px;
  }
  .careerRigit h1 {
    font-size: 24px;
  }
  .careerRigit h1 br { display: none; }
}

/* ==================
   career Memberships Style
 ===================== */

.careerMemberships {
  margin: 3rem 0;
  padding: 0 30px;
}

.careerMembershipsMainContant {
  display: flex;
}

.careerMembershipsLeft {
  width: 30%;
}

.careerMembershipsLeft h2 {
  font-size: var(--h2Fontsize);
  margin-bottom: 10px;
  color: var(--textColor);
}

.lightFont {
  font-weight: var(--fourFont);
}

.careerMembershipsLeft p {
  font-size: 17px;
  margin-bottom: 10px;
  color: var(--textColor);
}

.maenbershipsBtn {
  padding: 10px 0;
  display: flex;
  gap: 16px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  color: var(--textColor);
  cursor: pointer;
  background: none;
  transition: all 0.3s;
}

.maenbershipsBtn:hover {
  color: var(--commonColor);
  letter-spacing: 1px;
}

.careerMembershipsRight {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  /* gap: 30px; */
  justify-content: space-between;
  align-items: center;
}

.membershipIcon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: all 0.3s;
}

.membershipIcon img {
  width: 100%;
  height: 100%;
  object-fit: covers;
  border-radius: 50%;
}

.membershipIcon:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 20px #0f0f0f86;
}

@media screen and (max-width: 563px) {
  .careerMembershipsMainContant {
    display: block;
  }
  .careerMembershipsLeft {
    width: 100%;
  }
  .careerMembershipsRight {
    width: 100%;
    justify-content: space-around;
  }
}

/* ============
   Glose Style
 ============ */

.glose {
  margin: 6rem 0;
  padding: 0 20px;
}

.gloseMainContant {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gloseCard {
  width: 31%;
  height: auto;
  border: 1px solid #ec1c24;
  padding: 30px 25px;
  border-radius: 20px;
  /* display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column; */
  transition: all 0.3s;
  color: var(--textColor);
}
.gloseCard:hover {
  transform: translateY(-30px);
  background: #ec1c24;
  color: #ffffff;
}

.gloseCardLogo {
  width: 90px;
  height: 85px;
  background: #ec1c24;
  border-radius: 10px;
  position: relative;
  top: -70px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transform: translateY(-10px); */
  color: #ffffff;
  transition: all 0.3s;
}

.gloseCardLogo i {
  font-size: 30px;
}

.gloseCard h3 {
  position: relative;
  top: -40px;
  font-size: 24px;
  font-family: Inter;
}

.gloseCard p {
  /* color: var(--textColor); */
  font-size: 17px;
  position: relative;
  top: -20px;
  line-height: 24px;
}

.gloseDe:hover {
  color: var(--textColor);
}

.gloseCard:hover .gloseCardLogo {
  background: #ffffff;
  color: #ec1c24;
  border: 1px solid #ec1c24;
}

.gloseCard:hover .gloseDe {
  color: #ffffff;
}

@media screen and (max-width: 935px) {
  .gloseMainContant {
    display: block;
  }
  .gloseCard {
    width: 100%;
    margin-bottom: 5rem;
  }
  .glose { margin-bottom: 0; }
}

/* ============
   Dreams Style
 ============ */

.dreams {
  margin: 5rem 0;
  padding: 0 20px;
}

.dreamsMainContant {
  display: flex;
  gap: 30px;
}

.dreamLeft {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.singalItem {
  flex: 0.8;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  position: relative;
  transition: all 700ms ease-in;
}

.singalItem.active {
  flex: 4;
}

@media (max-width: 580px) {
  .centerContant {
    width: 100vw;
    transition: opacity 0.3s ease-in 0.4s;
  }

  .singalItem:nth-of-type(5),
  .singalItem:nth-of-type(6) {
    display: none;
  }
}

.dreamRight {
  width: 50%;
}

.dreamRight h2 {
  color: var(--commonColor);
  font-size: var(--h2Fontsize);
  margin-bottom: 20px;
}

.dreamRight p {
  font-size: var(--textColor);
  padding-right: 38px;
  margin-bottom: 15px;
}

.titleAndCounter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* === LineProgresBar is Hear=== */

.lineProgresBar {
  margin-top: 30px;
}

.lineProgresBarContainer {
  position: relative;
  max-width: 500px;
  width: 100%;
  /* margin: 0 15px; */
  /* padding: 10px 15px; */
  border-radius: 7px;
  margin-bottom: 40px;
}

.progres-box {
  width: 100%;
}

.progres-box .title {
  display: block;
  font-size: 15px;
  font-weight: 600;
  color: #444;
}

.progres-box .progres-couont-bar {
  width: 100%;
  height: 10px;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 6px;
}

.progres-couont-bar .progres-per {
  position: relative;
  height: 100%;
  border-radius: 6px;
  display: block;
  background: linear-gradient(
    90deg,
    hsl(3, 85%, 54%) 0%,
    rgba(246, 140, 30, 0.51) 100%
  );
  animation: progress 0.6s ease-in-out forwards;
}
@keyframes progress {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.progres-per .number-count {
  position: absolute;
  right: -18px;
  top: -40px;
  background: #ed2d24;
  padding: 6px 8px;
  border-radius: 6px;
  font-size: 12px;
  color: #ffffff;
  z-index: 1;
}

.number-count::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: -1;
  bottom: -2px;
  background: #ed2d24;
  transform: translateX(80%) rotate(45deg);
}

@media screen and (max-width: 892px) {
  .dreamsMainContant {
    display: block;
  }
  .dreamLeft {
    width: 100%;
    padding-bottom: 40px;
  }
  .dreamRight {
    width: 100%;
  }

  .lineProgresBarContainer {
    max-width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .singalItem {
    height: 40vh;
  }
}

/* ============
   Job List Style
 ============ */

.jobList {
  margin: 4rem 0;
  padding: 0 20px;
}

.jobListTitle {
  margin-bottom: 3.5rem;
  text-align: center;
}

.jobListTitle h2 {
  font-size: var(--h2Fontsize);
  color: var(--commonColor);
  margin-bottom: 10px;
}

.jobListTitle p {
  color: var(--textColor);
  font-size: 17px;
  font-weight: 400;
}

.jobListMainContant {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.jobCard {
  width: 398px;
  height: auto;
  padding: 25px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.06);
  transition: all 0.3s;
}

.jobCard:hover {
  box-shadow: 0px 0px 11px 2px rgb(0 0 0 / 21%);
  transform: scale(1.1);
}

.recomendationBtn {
  display: inline-flex;
  border: none;
  padding: 14px 12px;
  background: #f05623;
  border-radius: 4px;
  font-size: 13px;
  color: #fff;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  letter-spacing: 0.5px;
  transform: translateY(-48px);
}

.jobCardTop {
  transform: translateY(-35px);
}

.jobCardTopLogoAndName {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}

.jobCardTopLog {
  flex: 50%;
  height: 80px;
}

.jobCardTopLog img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.jobCardTopName {
  flex: 50%;
}

.jobCardTopName h2 {
  font-size: 31px;
  font-weight: var(--sevenFont);
  margin-bottom: 4px;
}

.jobCardTopName h5 {
  font-size: 18px;
  font-weight: var(--fiveFont);
  color: var(--textColor);
}

.jobCardTopSectorAndSocial {
  display: flex;
  align-items: center;
  gap: 10px;
}

.jobCardTopSector {
  flex: 60%;
}

.jobCardTopSector h3 {
  font-size: 25px;
}

.jobCardTopSocial {
  flex: 40%;
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.jobCardTopSocial i {
  background: #f05623;
  padding: 8px;
  color: #fff;
  border-radius: 3px;
  transition: all 0.3s;
}

.jobCardTopSocial i:hover {
  transform: translateY(-2px) scale(1.1);
  cursor: pointer;
}

.jobCardCenterCondition {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
.jobCardCenter {
  transform: translateY(-11px);
}
.s1 {
  flex: 50%;
}
.reqIrem {
  margin: 0;
  padding: 0;
}

.reqIrem li {
  list-style-type: none;
  display: flex;
  gap: 10px;
  font-size: 14px;
  /* background: #b0b8c9; */
  padding: 4px 2px;
  border-radius: 3px;
  margin-bottom: 2px;
}

.s2 {
  flex: 50%;
}

.jobCardBottom button {
  width: 100%;
  text-align: center;
  border: 1px solid #f05623;
  background: none;
  padding: 13px 8px;
  font-size: 16px;
  font-weight: var(--sevenFont);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
  color: #000;
}

.jobCardBottom button:hover {
  background: #f05623;
  color: #fff;
}

@media screen and (max-width: 892px) {
  .jobCard {
    margin-bottom: 2rem;
  }
  .jobCard:last-child {
    margin-bottom: 0rem;
  }
}
