html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}
body {
    color: #000;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Bai Jamjuree', sans-serif;
    background:var(--body);
    font-weight:400;
}
ul, ol, li { list-style: none; }
img, fieldset { border: none; }
a { text-decoration: none; }
a:hover { text-decoration: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
figure {
    margin: 0;
    padding: 0;
}
.clearfix {
    clear: both;
    width: 100%;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
embed, iframe, object, video { max-width: 100%; }
html { -webkit-text-size-adjust: none; }
input, textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
input[placeholder], 
[placeholder], 
*[placeholder] {color: inherit}
*::-webkit-input-placeholder { color:inherit}
*:-moz-placeholder {
    color:inherit ;
    opacity:  1;
}
*::-moz-placeholder {
    color:inherit ;
    opacity:  1;
}
*:-ms-input-placeholder {color:inherit}


.preloader {
    background: #fff;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
}
.preloader_area {
    width: 100%;
}
.page-transition .div{
    position:fixed;
    background-color:#f3831f;
    height:100%;
    bottom:100%;
    width:25%;
}
.page-transition .div:nth-child(1){
    left:0px;
}
.page-transition .div:nth-child(2){
    left:25%;
}
.page-transition .div:nth-child(3){
    left:50%;
}
.page-transition .div:nth-child(4){
    left:75%;
}
.preload{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50% , -50%);
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.preload li {
    /* display:inline-block;
    width:10px;
    height:10px;
    border:2px solid #fff;
    border-radius:50%; */
    font-size: 60px;
    line-height: 1;
    color: #b50107;
    padding: 0 5px;
    font-weight: 700;
}
.preload li img { max-width: 40px; height: 50px; }
.preload li:nth-child(1){color:#d11d27}
.preload li:nth-child(2){color:#d11d27}
.preload li:nth-child(3){color:#d11d27}
.preload li:nth-child(4){color:#d11d27}
.preload li:nth-child(5){color:#d11d27}
.preload li:nth-child(6){color:#d11d27}
.preload li:nth-child(7){color:#d11d27}




.topImage {
  position: fixed;
  top: -50px;
  left: 0;
  opacity: 0.05;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.topImage img {
  width: 100%;
  height: 300px;
}

.hero {
  height: 100vh;
}
.hero #waves {
  overflow: hidden;
  height: 100%;
  position: absolute;
  bottom: -200px;
  z-index: 0;
}

.slider-column img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
.slider-column .swiper-slider {
  padding-top: 10px;
  padding-bottom: 10px;
}
.slider-section {
  margin: 0 auto;
  padding-block: 5rem;
  margin-top: 80px;
}

.slider-section .slider-column {
  max-width: 900px;
  height: auto;
  margin-inline: auto;
  padding-inline: 1.25rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: 800;
  padding: 1rem;
  width: 2rem;
  height: 2rem;
  opacity: 0.75;
  border-radius: 50%;
  color: var(--white-100);
  background: var(--black-300);
}
.slider-details {
  max-width: 900px;
  margin: 0 auto;
  height: 250px;
  /* background: rgba(255, 0, 0, 0); */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 20px; */
  /* box-shadow: 0px 0px 8px -2px rgba(145,145,145,0.5); */
  /* background-color: rgba(255, 255, 255, 0.1); */
  /* -webkit-backdrop-filter: blur(2px); */
  /* backdrop-filter: blur(2px); */
}
.slier-content {
  padding: 20px 30px;
  text-align: center;
}
.slier-content h1 {
  margin-bottom: 10px;
  font-size: 33px;
  color: var(--commonColor);
  font-weight: var(--sixFont);
}
.slier-content p {
  color: #313131;
  font-size: 16px;
  line-height: 26px;
}

.animationBabal {
  border-radius: 50%;
  position: absolute;
}
.anima1 {
  width: 50px;
  height: 50px;
  top: 20%;
  left: 18%;
  background: linear-gradient(to right, #f3831f 30%, #da3d27);
}

.anima2 {
  width: 70px;
  height: 70px;
  top: 22%;
  left: 78%;
  background: linear-gradient(to right, #f3831f 30%, #da3d27);
}

.anima3 {
  width: 100px;
  height: 100px;
  top: 55%;
  left: 13%;
  border: 5px solid #f3831f;
  animation: anima3 1s timing-function delay iteration-count direction fill-mode;
}

/* Choose Us Style in Heare */

.choose {
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.192); */
  padding: 40px;
}

.row {
  max-width: 76rem;
  margin: 0 auto;
}

.chooseContainer {
  display: flex;
}

.chooseLeftPart {
  flex: 1;
}

.chooseUsTitle {
  width: 100%;
  /* background-color: #fff; */
  padding: 28px 22px;
  border-left: 6px solid #d11d27;
  margin-bottom: 28px;
}

.chooseUsMineTitle {
  color: #313131;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.chooseUsHeadTitle {
/*   width: 543px; */
  color: #c62e26;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.chooseUsparagraph p {
  color: #313131;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 13px;
}
.chooseUsparagraph { padding-right: 22px; }
.chooseUsparagraph p:last-child {
  margin-bottom: 13px;
}

.chooseRightPart {
  flex: 1;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 22px;
  column-gap: 22px;
  padding: 0 20px;
  position: relative;
}

.chooseRightPartCard {
  width:  100%;
  height: 190px;
  flex-shrink: 0;
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    rgba(250, 250, 250, 0.41) 0%,
    rgba(250, 250, 250, 0.41) 100%
  );
  box-shadow: 0px 0px 4px 2px rgba(208, 207, 207, 0.25);
  backdrop-filter: blur(5.5px);
  padding: 20px 20px;
  z-index: 20;
  transition: all 0.3s;
  cursor: pointer;
}
.chooseRightPartCard:hover {
  background-color: #fff;
  box-shadow: 0px 0 10px 7px rgba(0, 0, 0, 0.10);
  transform: scale(1.1, 1.1) !important;
}

.chooseRightPartCardTopContant {
  display: flex;
  align-items: center;
}
.chooseRightPartCardTopContant img {
  width: 38px;
  height: 28px;
  margin-right: 10px;
  min-width: 38px;
}
.chooseRightPartCardTopContant h4 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
  margin-bottom: 15px;
}

.chooseRightPartCardBottonContant p {
  color: #313131;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
@media only screen and (max-width: 991px){
.chooseRightPart { padding: 0; }
.chooseUsparagraph { padding-right: 0; }
.slier-content h1 {
  font-size: 26px;
}
.choose { padding: 40px 20px; }
.chooseUsHeadTitle {
  width: auto;
}

.chooseUsparagraph p {
  width: auto;
}
}
/* ------jahangir---- */
.d-flex { display: flex; }
.flex-wrap {flex-wrap:wrap; display: flex;}
.flex-nowrap {flex-wrap:nowrap;}
.center_content {
    max-width: 1269px;
    width: 100%;
    margin: 0 auto;
}
.work_on_area {
    padding: 0 70px;
    position: relative;
    z-index: 5;
    overflow: hidden;
}
.work_on_animation {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.work_on_holder {
    padding: 30px 0 100px 0;
    position: relative;
    z-index: 3;
    background-color: #fff;
}
.section_title {
    text-align: center;
}
.section_title h2 {
    color: #B50107;
    font-size: 33px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    position: relative; 
    padding-bottom: 15px;
}
.section_title h2::after {
    content: '';
    width: 67px;
    height: 4px;
    border-radius: 4px;
    background: #B50107;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    margin: 0 auto;
}
.section_title { padding-bottom: 37px; }
.service_column_bg {
    width: 100%;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 6px 1px rgba(107, 107, 107, 0.09);
    padding: 22px 22px 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: 0.3s;
    cursor: pointer;
}

.service_column_bg:hover {
   box-shadow: 0px 0px 10px 1px rgba(107, 107, 107, 0.2);
}
.service_column {
    width: 25%;
    padding: 10px 11px 30px 11px;
}
#service_carousel .service_column { width: 100%; height: 100%; }
#service_carousel.owl-carousel .owl-stage {
    display: flex;
    flex-wrap: wrap;
}
.service_icon { padding-bottom: 25px;}
.service_icon img { margin: 0 auto; width: auto !important; }
.service_column_bg h3 {
    color: #B50107;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 17px;
}
.service_column_bg h3 a {color: #B50107;}
.service_column_bg p {
    color: #313131;
    text-align: center;
    font-size: 17px;
    line-height: 26px;
    padding-bottom: 30px;
}
.learn_more_btn {
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #D32A2F;
    background: rgba(208, 207, 207, 0.00);
    border-radius: 0 10px 0 10px;
    font-size: 17px;
    color: #C62E26;
    margin-top: auto;
    position: relative;
    transition: background-color 0.8s ease;
}
.learn_more_btn span {
    display: inline-block;
    padding-right: 28px;
    background: url('../img/arrow_right.svg') no-repeat right center;
    line-height: 20px;
    transition: all 0.3s;
}
.service_column_bg:hover > .learn_more_btn span,
.learn_more_btn:hover > span {
    background: url('../img/arrow_right_hover.svg') no-repeat right center;
    padding-right: 35px;
    letter-spacing: 1px;
}
.service_column_bg:hover > .learn_more_btn,
.learn_more_btn:hover {
    background-color: #B52025;
    color: #fff;
}
@media only screen and (max-width: 1370px){
.service_icon img { max-height: 60px; }
.service_column_bg h3 {
    font-size: 21px;
}
.service_column_bg p {
    font-size: 16px;
}
}

@media only screen and (max-width: 991px){
.work_on_area {
    padding: 0 9px;
} 
.work_on_holder { background: none; }
}
#myVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.slider {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}



.slideshow .slider-track {
  -webkit-transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
}
.slideshow .item {
  height: 100%;
  position: relative;
  z-index: 1;
}
.slideshow .item .slier-content {
  width: 100%;
  padding: 0 20px;
  -webkit-transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.slideshow .item.slick-active .slier-content {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: cssAnimation 8s 1 ease-in-out forwards;
  animation: cssAnimation 8s 1 ease-in-out forwards;
}

@keyframes cssAnimation {
  from {
    -webkit-transform: scale(1) translate(0px);
  }
  to {
    -webkit-transform: scale(1.3) translate(0px);
  }
}
@-webkit-keyframes cssAnimation {
  from {
    -webkit-transform: scale(1) translate(0px);
  }
  to {
    -webkit-transform: scale(1.3) translate(0px);
  }
}


.our_clients_area {
  padding: 0 20px;
  background: linear-gradient(180deg, rgba(189, 193, 193, 0.01) 0%, rgba(189, 193, 193, 0.09) 8.71%, rgba(189, 193, 193, 0.09) 100%);
}
.clients_content {
  padding: 52px 0 75px 0;
}
.clients_slider {
  padding-bottom: 20px;
}
.client_logo {
  max-height: 144px;
  min-height: 100px;
  margin: 22px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.client_logo img { margin: 0 auto; width: auto !important; }

.clients_content .owl-carousel .owl-nav button.owl-prev, 
.clients_content .owl-carousel .owl-nav button.owl-next {
    width: 44px;
    height: 36px;
    border-radius: 8px;
    border: 2px solid #B52025;
    background: transparent;
    position: initial;
    top: inherit;
    transform: inherit;
    left: inherit;
    right: inherit;
}
.clients_content .owl-carousel .owl-nav {
  display: flex;
  justify-content: end;
  position: absolute;
  right: 0;
  bottom: -30px;
  z-index: 2;
  width: 100px;
}
.clients_content .owl-carousel .owl-nav button.owl-next {
  margin-left: 12px;
}
.clients_content .owl-carousel .owl-nav button.owl-prev:hover, 
.clients_content .owl-carousel .owl-nav button.owl-next:hover {
  background-color: #B52025;
}
.clients_content .owl-carousel .owl-nav button.owl-prev::after, 
.clients_content .owl-carousel .owl-nav button.owl-next::after {
  font-family: 'FontAwesome';
  content: '\f104';
  font-size: 30px;
  line-height: 1;
  color: #B52025;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.clients_content .owl-carousel .owl-nav button.owl-next::after {
  content: '\f105';
}
.clients_content .owl-carousel .owl-nav button.owl-prev:hover::after, 
.clients_content .owl-carousel .owl-nav button.owl-next:hover::after {
  color: #fff;
}
.client_item_info {
  max-width: 592px;
}
.client_item_info p {
  color: #313131;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
@media only screen and (max-width: 992px){
.client_item_info { display: none; }
.clients_content .owl-carousel .owl-nav {
  bottom: -41px;
}
.clients_content .owl-carousel .owl-nav {
    justify-content: space-between;
    bottom: -41px;
    width: 100%;
}
}

.faq_section {
  padding: 0 20px
}
.faq_content {
  padding: 40px 0 24px 0;
}
.toggle_content_holder {
  max-width: 1038px;
  margin: 0 auto;
}
.toggle_view_item {
    padding-bottom: 20px;
}
.toggle_view_bg {
    width:100%;
    min-height: 100px;
    position:relative;
    cursor:pointer;
    padding: 15px 60px 15px 120px;
    background: #BCBEBF;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.first_later {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 44px;
  line-height: 1;
  font-weight: 600;
  color: #fff;
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.show_details .first_later {background-color: rgba(107, 208, 222, 0.71);}
.show_details.active { display:block}
.toggle_view_item h4 {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.3;
    color: #fff;
}
.toggle_view_bg::after {
    content:'';
    width:26px;
    height:26px;
    background-image: url('../img/icon_plus.svg');
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    position:absolute;
    right: 30px;
    top: 50%;
    margin-top: -13px;
}
.toggle_view_item.active .toggle_view_bg::after {
    background-image: url('../img/icon_minus.svg');
    background-repeat: no-repeat;
    background-position: center center;
}
.toggle_view_item.active .toggle_view_bg h4  {
    color: #fff;
}
.show_details {
    padding: 28px 60px 28px 120px;
    display:none;
    background: #BCBEBF;
    margin-top: 7px;
    position: relative;
}
.show_details p {
    font-weight: 600;
    font-size: 17px;
    line-height: 26px;
    color: #fff;
    padding-bottom: 5px;
    padding-top: 5px;
}
@media only screen and (max-width: 992px){
.toggle_view_bg { padding-left: 100px; }
.show_details {
    padding: 15px 25px 15px 100px;
}
.first_later {
  width: 80px;
  font-size: 40px;
}
}
@media only screen and (max-width: 640px){
.toggle_view_item h4 {
  font-size: 18px;
}
.toggle_view_bg::after {
    right: 20px;
}
.toggle_view_bg { padding-right: 50px; }
}
.faq_detail_info {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 40px 0 0 0;
}
.faq_detail_bg {
  max-width: 504px;
  padding: 13px 140px 13px 20px;
  background: rgba(181, 189, 193, 0.63);
  position: relative;
}
.faq_detail_bg h5 {
  color: #313131;
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 6px;
}
.faq_detail_bg p {
  color: #313131;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; 
  padding: 0;
}
.faq_detail_bg .go_detail_page {
  width: 129px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  display: block;
  border-radius: 20px 0px 0px 20px;
  background: #EC1C24 url('../img/go_faq.svg') no-repeat center;
}
@media only screen and (max-width: 767px){
.faq_detail_info  {
  padding-top: 20px;
}
.faq_detail_bg {
  max-width: 100%;
  padding: 13px 100px 13px 20px;
}
.faq_detail_bg h5 {
  font-size: 17px;
}
.faq_detail_bg .go_detail_page {
  width: 80px;
  border-radius: 15px 0px 0px 15px;
}

}
.contact_us_area {
  padding: 0 20px;
  overflow: hidden;
  position: relative;
}
.contact_us_box {
  padding: 54px 0 48px 0; 
  min-height: 866px;
  display: flex;
  justify-content: flex-end;
}
.contact_man_photo {
  width: 38.19%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.contact_form_area {
  width: 57.57%;
} 
.contact_form_box  {
  padding-top: 20px;
}
.contact_us_box .section_title h2 {
  text-align: left;
}
.contact_us_box .section_title h2::after {
    margin: 0;
    right: inherit;
}

html,body { overflow-x: hidden; }

.form-group label {
    display: block;
    font-weight: 600;
    font-size: 21px;
    color: rgba(64, 63, 63, 0.85);
    float: none;
    line-height: 1.3;
    margin: 0 0 10px 0;
    padding: 0;
    word-break: break-word;
    word-wrap: break-word;
}
.form-group label span { 
    color: rgba(198, 46, 38, 0.85);
    font-weight: 600;
}
.form-group {  padding-bottom: 25px; }
.form-group .form-control {
  border: 1px solid rgba(139, 139, 139, 0.50);
  background: rgba(217, 217, 217, 0.07);
  border-radius: 5px;
  display: block;
  float: none;
  font-size: 18px;
  padding: 6px 15px;
  height: 56px;
  width: 100%;
  line-height: 1.3;
  outline: none;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 400;
  color: rgba(64, 63, 63, 1);
}
.form-group select.form-control {
  background: url('../img/arrow_down.png') no-repeat right 15px center;
  background-color: rgba(217, 217, 217, 0.07);
}
.form-group select.form-control {
    -webkit-appearance: none;
  -moz-appearance: none;
}
.form-group textarea.form-control {
    height: 120px;
    resize: none;
}
.form-group .form-control:focus {
    border-color: #B52025;
}
.form-group-row {
    gap: 20px;
    width: 100%;
}
.form-group-col {
    width: 100%;
}
.contact_holder .w50,
.form-group-col.w50 {
    width: calc(calc(100% - 20px) / 2);
}
.form-group-submit {
  padding-top: 20px;
}
.form-group-submit .submit {
  width: 130px;
  height: 52px;
  border-radius: 6px;
  border: 2px solid #B52025;
  background: rgba(217, 217, 217, 0.00);
  color: #B52025;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 22px;
  outline: none;
  cursor: pointer;
  transition: 0.8s ease;
}
.form-group-submit .submit:hover{
    color: #fff;
    box-shadow: 0 20px 38px rgba(0,0,0,0.16)!important;
    background-color:#B52025;
}
.form-group-col small {
    display: block;
    font-size: 13px;
    line-height: 1.3;
    margin: 8px 0 0 0;
    word-break: break-word;
    word-wrap: break-word;
    color: #676767;
}
@media only screen and (max-width: 991px){
.contact_us_box {
  min-height:  inherit;
}
.contact_man_photo {
  width: 100%;
  display: none;
}
.contact_form_area {
  width: 100%;
} 
.form-group-submit {
  padding-top: 0;
}
}
@media only screen and (max-width: 768px){
.form-group-col.w50 {
    width: calc(calc(100%) / 1);
}
.form-group .form-control {
  font-size: 16px;
}
.form-group label { font-size: 18px; }
}

.footer_area {
  padding: 0 20px;
  border-top: 1px solid #E1E0E0;
  background: #FFF;
}
.footer {
  padding: 25px 0;
  justify-content: space-between;
}
.footer_social h4 {
  padding-left: 33px;
  color: #4B4B4B;
  font-size: 13px;
  font-weight: 700;
  line-height: 24px;
  background: url('../img/social/connected-icon.svg') no-repeat left center; 
  margin-bottom: 17px;
}
.social_box {
  gap: 21px;
}
.social_box a:hover {
  opacity: 0.8;
}
.footer_right {
  width: 65%;
}
.footer_right h4 {
  padding-left: 40px;
  color: #4B4B4B;
  font-size: 13px;
  font-weight: 700;
  line-height: 24px;
  background: url('../img/social/privacy-icon.svg') no-repeat left center; 
  margin-bottom: 20px;
  background-size: 32px auto;
}
.footer_menu {
  justify-content: space-between;
  flex-flow: row-reverse;
}
.footer_menu p {
  color: #4B4B4B;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.3;
}
.footer_menu ul {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
}
.footer_menu ul li {
  color: #4B4B4B;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.3;
}
.footer_menu ul li a { color: #4B4B4B;}
@media only screen and (max-width: 1024px){
.footer_right {
  width: 75%;
}
}
@media only screen and (max-width: 992px){
.footer {
 display: block;
}
.footer_social { padding-bottom:20px ; }
.footer_right {
  width: 100%;
}
.footer_menu {
  display: block;
}
.footer_right h4 { margin-bottom: 15px; }
.footer_menu ul {
  gap:5px 15px; 
  padding-bottom: 10px;
}
}

/* Start Happy Clients Say Section */
.happyClients {
  padding: 3rem 0;
  position: relative;
  overflow: hidden;
}

.happyClientsBgAnimation  {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  clip-path: polygon(40% 0, 0 0, 0 70%);
  z-index: -1;
}
.happyClientsBgAnimation_bottom {
  position: absolute;
  bottom: 0;
  right:0;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 46%, 63% 100%, 100% 100%);
  z-index: -1;
  display: flex;
  justify-content: end;
}

.happyClientsCOntainer {
  display: flex;
  gap: 30px;
}

.testimonoal {
  flex: 40%;
  width: 495px;
}

.titalbar {
  display: inline-flex;
  padding: 15px 12px 14px 28px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  border-left: 6px solid #d11d27;
  background: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(2px);
  margin-bottom: 27px;
}

.titalbar h5 {
  color: #313131;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.titalbar h2 {
  color: #c62e26;
  font-size: 37px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.testimonoal p {
  color: #313131;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 126.316% */
}

.testimonoalAllCard {
  margin-top: 25px;
  display: flex;
  gap: 30px;
}

.testimonoalCard {
  display: flex;
  width: 40%;
  height: 76px;
  padding: 10px 12px 12px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(250, 250, 250, 0.41) 0%,
    rgba(250, 250, 250, 0.41) 100%
  );
  box-shadow: 0px 0px 4px 2px rgba(208, 207, 207, 0.25);
  backdrop-filter: blur(5.5px);
  flex-direction: column;
}
.testimonoalCardTopContant {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}
.testimonoalCardTopContant h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.happyClientsCOntainer {
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
}

.testimonoalCard H5 {
  font-size: 18px;
}

.review_right {
  flex: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  min-height: 330px;
  width: 734px;
}
.review  {
  position: relative;
  width: 100%;
  padding: 20px 20px 20px 100px;
}
.happyClients_box { position: relative; }
.reviewMassage {
  width: 100%;
  height: 330px;
  border-radius: 20px;
  background: linear-gradient(
    74deg,
    rgba(250, 250, 250, 0.45) 2.44%,
    rgba(250, 250, 250, 0.45) 98.12%
  );
  box-shadow: 0px 0px 4px 2px rgba(208, 207, 207, 0.25);
  backdrop-filter: blur(5.5px);
  display: flex; 
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.reviewMassageLeft {
  width: 180px;
  height: 190px;
  background: linear-gradient(to right, #f3831f, #b50107);
  margin-left: -12%;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 10px 10px 30px 0px rgba(229, 90, 36, 0.63);
}

.reviewMassageLeft img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 8px;
}

.reviewMassageCenter {
  flex: 70%;
  padding-right: 30px;
}

.reviewMassageCenter h5 {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #313131;
  margin-bottom: 10px;
}

.reviewMassageCenter h2 {
  color: #313131;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.reviewMassageCenter p {
  color: #313131;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 15px;
}
.reviewMassageCenter button {
  border: none;
  padding: 8px 20px;
  outline: none;
  background: linear-gradient(to right, #f3831f, #b50107);
  border-radius: 30px;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.52px;
  cursor: pointer;
  transition: all 0.3s;
}
.reviewMassageCenter button:hover {
  transform: scale(1.1);
}

.reviewMassageRight {
  padding: 0 20px 0 10px;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.reviewMassageRight .charkel {
  width: 10px;
  height: 10px;
  border-radius: 30px;
  border: 3px solid #d11d27;
}

.cActive {
  height: 30px !important;
  background: #d11d27;
}
/* End Happy Clients Say Section */
/* Start Responsib */

@media only screen and (max-width: 1250px) {
  .chooseContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .chooseContainer {
    display: block;
  }
  .chooseRightPartCardTopContant h4 {
    text-align: left;
  }
  .chooseRightPart {
    grid-template-columns: auto auto auto;
    margin: 0 auto;
    padding: 0;
    padding-top: 20px;
  }
  .happyClientsCOntainer {
    padding: 30px 20px;
    flex-direction: column;
  }
  .reviewMassage {
    position: relative;
  }
  .review_right {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }
  .testimonoal {
    width: 100%;
  }
}

@media only screen and (max-width: 794px) {
.testimonoalCardTopContant h3 {
  font-size: 20px;
}

.testimonoalCard H5 {
  font-size: 16px;
}
  .testimonoalAllCard {
  gap: 20px;
}

.testimonoalCard {
  width: 50%;
}

.happyClientsBgAnimation  {
  clip-path: polygon(60% 0, 0 0, 0 70%);
}
.happyClientsBgAnimation_bottom {
  clip-path: polygon(100% 30%, 50% 100%, 100% 100%);
}
  .happyClientsCOntainer {
    padding: 30px 20px;
    flex-direction: column;
  }
  .chooseUsparagraph { padding-bottom: 30px; }
  .chooseContainer {
    display: block;
  }
  .chooseUsMineTitle {
    color: #313131;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .chooseUsHeadTitle {
    font-size: 30px;
  }
  .chooseRightPartCardTopContant h4 {
    text-align: left;
  }
  .chooseRightPart {
    grid-template-columns: auto auto;
  }
  .chooseUsparagraph p {
    font-size: 14px;
  }
  .chooseRightPartCardBottonContant p {
    font-size: 14px;
  }
  .chooseUsTitle {
    padding: 26px 18px;
  }


  /* Happy cliends */
  .testimonoal {
    margin-bottom: 30px;
  }
  .reviewMassage {
    flex-direction: column;
    padding: 10px;
    height: 330px;
  }
  .reviewMassageLeft {
    width: 130px;
    height: 140px;
    margin-left: 0%;
    border-radius: 15px;
    margin-top: -8%;
  }
  .reviewMassageCenter {
    padding: 0 20px;
  }

  .reviewMassageCenter p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .reviewMassageRight {
    transform: rotate(90deg);
    padding: 0;
    position: absolute;
    bottom: 0;
  }
  .chooseRightPart { padding-top: 0; }
  .review {
    padding: 65px 20px 20px 20px;
  }
}

@media only screen and (max-width: 635px) {
  .chooseRightPart {
    grid-template-columns: auto;
    padding: 0;
  }
  .chooseUsHeadTitle {
    font-size: 25px;
  }
  .chooseRightPartCard { width: 100%; }
}

.titalbar h5 {
  font-size: 12px;
}

.titalbar h2 {
  font-size: 30px;
}
.reviewMassageCenter h2 {
  font-size: 25px;
}


.weProvide {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.weProvideLeftSide {
  flex: 50%;
  padding: 20px 20px 20px 0;
  overflow: hidden;
}
.weProvideLeftSide .fourtheen {
  position: absolute;
  display: table;
  height: 200px;
  text-align: left;
  background: #d11d27;
  width: 200px;
  z-index: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color: #fff;
  font-weight: 700;
}

.weProvideRightSide {
  flex: 50%;
  padding: 20px 0 20px 20px;
}
.weProvideLeftSide #tp__canvas {
  position: relative;
  width: 100%;
  height: 100%;
 /*  width: 1200px;
  height: 100%; */
}
.weProvideTitle {
  padding-left: 25px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 5px;
}
.weProvideTitle::after {
  content: "";
  position: absolute;
  width: 5px;
  top: 0;
  left: 0;
  height: 100%;
  background: #d11d27;
}
.weProvideTitle h3 {
  font-size: 17px;
  color: #313131;
}
.weProvideTitle h1 {
  color: #d11d27;
  font-size: 42px;
  padding: 0;
  margin: 0;
}
.weProvidePeragrapg {
  color: #313131;
  font-size: 17px;
  line-height: 28px;
  margin-top: 30px;
}
.weProvideCard{
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
  gap:20px;
  margin-top: 50px;
}
.weProvideCard .weProvideCards{
  flex: 33.33%;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.05);
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 12px 20px 13px 20px;
}
.weProvideCard .weProvideCards p{
    font-size:16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    margin: 0;
    padding: 0;
}
.weProvideCard .weProvideCards img{
  width: 26px;
  min-width: 26px;
}


@media (max-width: 1292px) {
  .weProvideLeftSide #tp__canvas {
      position: relative;
      width: 900px;
      height: 75%;
  }
}

@media (max-width: 992px) {
.weProvideLeftSide {
    padding: 20px;
}
.weProvideRightSide {  padding-right: 20px; }
.weProvideLeftSide .fourtheen {
      height: 150px;
      width: 150px;
    }
.weProvideLeftSide .fourtheen span{
  font-size: 30px;
}
.weProvideLeftSide #tp__canvas {
      position: relative;
      width: 610px;
      height: 70%;
  }


  .weProvide {
    flex-direction: column-reverse;
  }
  .weProvideLeftSide #tp__canvas {
    position: relative;
    width: 100%;
    height: 100%;
}
}
@media (max-width:568px) {
  .weProvideCard{
  display: flex;
  flex-direction: column;
}
    .weProvideCard .weProvideCards{
    flex: 50%;
    justify-content: flex-start;
  }
}


@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}
.client_logo {animation-name: floating;}
.card-awards1 {
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.card-awards2 {
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.card-awards3 {
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.card-awards4 {
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.card-awards5 {
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.card-awards6 {
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.card-awards7 {
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.card-awards8 {
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.card-awards9 {
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.card-awards10 {
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.card-awards11{
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.card-awards12 {
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.card-awards13 {
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.card-awards14 {
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.review_slider.owl-carousel button.owl-dot {
  width:  12px;
  height:   12px;
  margin: 0 4px;
} 
.review_slider.owl-carousel button.owl-dot.active {
  width: 30px;
  border-radius: 6px;
}
.review_slider.owl-carousel .owl-dots {
    bottom: 177px;
    left: inherit;
    right: -10px;
    height: 12px;
    width: 100px;
    transform: rotate(90deg);
}