.clients_slider.owl-carousel .owl-item img {
<<<<<<< HEAD
  max-height: 100px;
}
=======
	max-height: 100px;
}
.tx_404_area {
	padding:130px 20px 50px 20px;
	min-height: calc(calc(100vh - 120px));
	display: flex;
	align-items: center;
	justify-content: center;

}
.tx_404_box {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.tx_404_box h4 {
    color: #b50107;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    position: relative;
    padding-bottom: 25px;
    margin-top: -10px;
}
.tx_404_box .red-button {
	width: auto;
	border: 2px solid #b52025;
}
>>>>>>> ad72830e32e6fa72eb0c65be085bcca2c561661d
