.clients_slider.owl-carousel .owl-item img {
  max-height: 100px;
}
.tx_404_area {
  padding: 130px 20px 50px 20px;
  min-height: calc(calc(100vh - 120px));
  display: flex;
  align-items: center;
  justify-content: center;
}
.tx_404_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tx_404_box h4 {
  color: #b50107;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  position: relative;
  padding-bottom: 25px;
  margin-top: -10px;
}
.tx_404_box .red-.button {
  width: auto;
  border: 2px solid #b52025;
}
.service_column_bg p {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-bottom: 0;
  margin-bottom: 30px;
}
.clients_slider.owl-carousel .owl-item img {
  width: 100% !important;
}
.chooseRightPartCardTopContant h4,
.chooseRightPartCardBottonContant p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-bottom: 0;
}
.chooseRightPartCardTopContant h4 {
  -webkit-line-clamp: 2;
}

.colum_info ol,
.colum_info ul {
  padding: 0 0 26px 20px;
}
.colum_info ul li,
.colum_info ul {
  list-style-type: disc;
}
.colum_info ol li,
.colum_info ol {
  list-style-type: decimal;
}
.colum_info ol li,
.colum_info ul li {
  color: #313131;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 3px;
}
.colum_info p strong {
  display: block;
  font-weight: 600;
}
.colum_info h5 {
  color: #313131;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  padding-bottom: 5px;
}
.w-100 {
  width: 100%;
}
.section_title h4 {
  color: #b50107;
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
  text-align: left;
  position: relative;
}

/* Time line Section */

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 30px auto;
}

.timelineRow {
  padding: 10px 10px;
  position: relative;
  width: 46%;
  animation: movedowen 1s linear forwards;
  opacity: 0;
}

@keyframes movedowen {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.time-item-1 {
  animation-delay: 0s;
}
.time-item-2 {
  animation-delay: 1s;
}
.time-item-3 {
  animation-delay: 3s;
}
.time-item-4 {
  animation-delay: 4s;
}

.time-item-5 {
  animation-delay: 5s;
}
.time-item-6 {
  animation-delay: 6s;
}
.time-item-7 {
  animation-delay: 7s;
}
.time-item-8 {
  animation-delay: 8s;
}

.text-box {
  padding: 20px 30px;
  background: #e2e2e2;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}

.left-timelineRow {
  left: 0;
}

.right-timelineRow {
  left: 54%;
}

.timelineRow .Time-image {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  right: -80px;
  top: 20px;
  z-index: 10;
  background: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #b50107;
}

.right-timelineRow .Time-image {
  left: -80px;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  background: #b50107;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveLine 8s linear forwards;
}

@keyframes moveLine {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

.text-box h2 {
  font-weight: 600;
  margin-bottom: 10px;
  color: #313131;
}

.text-box small {
  display: inline-block;
  margin-bottom: 15px;
  color: #313131;
}

.text-box p {
  color: #313131;
  line-height: 23px;
}

.left-timelineRow-arrow {
  width: 0;
  height: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #e2e2e2;
  /* right: -15px; */
  left: 100%;
}

.right-timelineRow-arrow {
  width: 0;
  height: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #e2e2e2;
  /* left: -15px; */
  right: 100%;
}

@media screen and (max-width: 600px) {
  .timeline {
    margin: 50px auto;
  }

  .timeline::after {
    left: 36px;
  }

  .timelineRow {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }

  .text-box {
    font-size: 13px;
  }

  .text-box small {
    margin-bottom: 10px;
  }
  .right-timelineRow {
    left: 0;
  }

  .left-timelineRow .Time-image,
  .right-timelineRow .Time-image {
    left: 10px;
    width: 50px;
    height: 50px;
  }

  .left-timelineRow-arrow,
  .right-timelineRow-arrow {
    border-right: 15px solid #e2e2e2;
    border-left: 0;
    left: inherit;
    right: 100%;
  }
}
/* 
.nav-item a:is(:link, :active, :visited).active {
  position: relative;
}

.nav-item a:is(:link, :active, :visited).active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #b50107;
  left: 10%;
  bottom: 0;
} */

.blog-single-info h3 {
  color: #4b4b4b;
  font-size: 28px;
  padding-bottom: 15px;
}

.blog-single-info ol,
.blog-single-info ul {
  padding: 0 0 26px 20px;
}
.blog-single-info ul li,
.blog-single-info ul {
  list-style-type: disc;
}
.blog-single-info ol li,
.blog-single-info ol {
  list-style-type: decimal;
}
.blog-single-infool li,
.blog-single-info ul li {
  color: #313131;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 3px;
}

/* =========== */

.applyJobFormSection {
  margin-top: 70px;
}

.applyJobExtraDesin {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 63%;
  background: #ececec;
  border-radius: 5px;
  text-align: center;
  padding: 30px;
  margin: 20px 0px;
}

.container header {
  font-size: 35px;
  font-weight: 600;
  margin: 0 0 35px 0;
}

.container .form-outer {
  width: 100%;
  overflow: hidden;
}

.form-outer form {
  display: flex;
  width: 400%;
}

.container .frogres-bar {
  display: flex;
  margin: 40px 0;
}

.container .frogres-bar .stap {
  position: relative;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.container .frogres-bar .stap p {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  margin: 8px;
}

.frogres-bar .stap p.activerStap {
  color: #25d366;
}

.container .frogres-bar .stap .bullet {
  width: 25px;
  height: 25px;
  border: 2px solid #000;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: 0.2s;
}

.container .frogres-bar .stap .bullet.activerStap {
  border-color: #25d366;
  background: #25d366;
}

.container .frogres-bar .stap .bullet::before,
.container .frogres-bar .stap .bullet::after {
  position: absolute;
  content: "";
  width: 161px;
  height: 3px;
  background: #050505;
  bottom: 9px;
  right: -162px;
}

.container .frogres-bar .stap .bullet.activerStap::after {
  background: #25d366;
  transform: scaleX(0);
  transform-origin: left;
  animation: stapLine 0.3s linear forwards;
}

@keyframes stapLine {
  100% {
    transform: scaleX(1);
  }
}

.container .frogres-bar .stap:last-child .bullet::before,
.container .frogres-bar .stap:last-child .bullet::after {
  display: none;
}

.container .frogres-bar .stap .bullet span {
  font-size: 17px;
  line-height: 25px;
  font-size: 500;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -10%);
}

.container .frogres-bar .stap .bullet.activerStap span {
  display: none;
}

.container .frogres-bar .stap .check {
  position: absolute;
  left: 50%;
  top: 75%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}

.container .frogres-bar .stap .check.activerStap {
  display: block;
  color: #fff;
}

.form-outer form .page {
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}

.form-outer form .page .title {
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}

.form-outer form .page .fild {
  height: 45px;
  width: 100%;
  margin: 45px 0;
  position: relative;
  display: flex;
}

.form-outer form .page .fild .lable {
  position: absolute;
  left: 0;
  top: -30px;
  border-radius: 8px;
}

.upCV {
  background-color: #c7c7c7;
  padding: 15px;
  cursor: pointer;
}

.viewCVFile {
  margin-top: 27px;
  width: 100%;
  text-align: left;
  background: #00000017;
  padding: 17px;
  position: relative;
  /* border: 1px solid #36e613; */
  display: none;
  border-radius: 3px;
}

.viewCVFile .showByfdfName {
  position: absolute;
  top: 14%;
  display: flex;
  gap: 20px;
  align-items: center;
}

.viewCVFile .showByfdfName i {
  color: #de2429;
  font-size: 20px;
}

.viewCVFile .showByfdfName .pdfName {
  font-size: 18px;
}

.form-outer form .page .fild input {
  height: 100%;
  width: 100%;
  border: 1px solid lightblue;
  border-radius: 5px;
  outline: none;
  font-weight: 500;
  font-size: 17px;
  color: #313131;
  padding: 0 10px;
}

form .page .fild select {
  width: 100%;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid lightblue;
  outline: none;
  padding: 0 10px;
}

.form-outer form .page .fild .button {
  width: 100%;
  height: calc(100% - 5px);
  margin-top: -20px;
  border: none;
  background: #b9b9b9;
  color: #444444;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-outer form .page .fild .btns .button {
  margin-top: 20px !important;
}

form .page .fild .btns .button.prev {
  margin-right: 3px;
  font-size: 17px;
}

form .page .fild .btns .button.next {
  margin-left: 3px;
}

.button.prev-1.prev {
  margin-right: 10px;
}

.button.prev-2.prev {
  margin-right: 10px;
}

.button.prev-3.prev {
  margin-right: 10px;
}
/* ===================================================== */

.drop-zone {
  max-width: 200px;
  height: 200px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 4px dashed #009578;
  border-radius: 10px;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

input#file-upload {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0;
}
.inputCustom {
  width: 170px;
  height: 70px;
  cursor: pointer;
  position: relative;
  border: 2px dashed blue !important;
}
.inputCustom p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cvUplodefild {
  margin: 0;
}

.fild.cvUplodefild {
  height: 70px !important;
}

#messages {
  margin-left: 10px;
}

@media screen and (max-width: 414px) {
  .container {
    width: 90%;
  }
  .container .frogres-bar .stap .bullet::before,
  .container .frogres-bar .stap .bullet::after {
    width: 55px;
    right: -57px;
  }

  .form-outer form .page .cvUplodefild {
    display: flex;
    flex-direction: column;
  }

  .inputCustom {
    margin-bottom: 10px;
  }

  #messages li {
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
  }
}
